In [66]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
np.set_printoptions(formatter={'float': lambda x: "{0:0.0f}".format(x)})

In [67]:
dataset = pd.read_csv('Data.csv')
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [68]:
X = dataset.iloc[:, :-1].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [69]:
Y = dataset.iloc[:,3].values
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [73]:
#Train - Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
X_train, Y_train, X_test, Y_test

(array([[0, 1, 0, 40, 63778],
        [1, 0, 0, 37, 67000],
        [0, 0, 1, 27, 48000],
        [0, 0, 1, 39, 52000],
        [1, 0, 0, 48, 79000],
        [0, 0, 1, 38, 61000],
        [1, 0, 0, 44, 72000],
        [1, 0, 0, 35, 58000]]),
 array([1, 1, 1, 0, 1, 0, 0, 1]),
 array([[0, 1, 0, 30, 54000],
        [0, 1, 0, 50, 83000]]),
 array([0, 0]))

In [74]:
# #Feature Scaling
# from sklearn.preprocessing import StandardScaler
# sc_X = StandardScaler()
# X_train = sc_X.fit_transform(X_train)
# X_test = sc_X.transform(X_test)
# np.set_printoptions(formatter={'float': lambda x: "{0:0.3f}".format(x)})
# X_train, X_test

(array([[-1.000, 2.646, -0.775, 0.263, 0.124],
        [1.000, -0.378, -0.775, -0.254, 0.462],
        [-1.000, -0.378, 1.291, -1.975, -1.531],
        [-1.000, -0.378, 1.291, 0.053, -1.111],
        [1.000, -0.378, -0.775, 1.641, 1.720],
        [-1.000, -0.378, 1.291, -0.081, -0.168],
        [1.000, -0.378, -0.775, 0.952, 0.986],
        [1.000, -0.378, -0.775, -0.598, -0.482]]),
 array([[-1.000, 2.646, -0.775, -1.459, -0.902],
        [-1.000, 2.646, -0.775, 1.985, 2.140]]))